<mat-tab-group>
    <mat-tab label="Users">
      <ng-template matTabContent>
        <!-- Add the UsersComponent or any other component that displays user data -->
        <app-users></app-users>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Winners">
      <ng-template matTabContent>
        <!-- Add the WinnersComponent or any other component that displays winner data -->
        <app-winners></app-winners>
      </ng-template>
    </mat-tab>
    
    <mat-tab label="Toppers">
      <ng-template matTabContent>
        <!-- Add the ToppersComponent or any other component that displays topper data -->
        <app-toppers></app-toppers>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  